.jumbotron
{
	font-family: helvetica, sans-serif;
	color: white;
	background-image: url(../img/gr_hamster_HD.jpg);
	min-height: 600px; 
	text-align: center;
}

.jumbotron a{
	color: white;
}

#myblog{
	background: transparent;
	color:white;
}

#myblog:hover{
	background: transparent;
	color: green;
}

#backToTop{
	background: transparent;
	color: green;
}

#backToTop:hover{
	background: transparent;
	color: white;
}


body a{
	color:#218886;
}
header a{
	color:#218886;
}

footer{
	background-color: black;
    color:white;
}
.content-left{
 	padding-right:20px; border-right: 1px solid #ccc;
}

.sidebar-module-inset
{
	display:block;
	margin-left: 5%;
	padding-left:5%;
}

blockquote{
    font-size:14px;
}