.jumbotron
{
	background-image: url(../img/gr_hamster_HD.jpg);
	min-height: 600px; 

}

.jumbotron h1{
	color: white;
	text-transform: uppercase;
}

.jumbotron p{
	color: white;
}

.btn{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}