 <p style="text-align: center;">
   <a class="btn btn-default" href="javascript:;" role="button" id="backToTop"><span class="glyphicon glyphicon-chevron-up"></span></a>
 </p>


<footer class="footer">

<div class="container" style=" padding-top:40px; padding-bottom:40px; ">

	<p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p>
	<div class="col-sm-4 col-sm-offset-2" style="list-style: none;">

	<li>
	<span class="glyphicon glyphicon-envelope" style="border-color: white; height:20px; width:20px; padding-left:3px;"></span> <a href="mailto:{{ site.email }}" >  {{ site.email }}</a></li>
	</li>

	 {% if site.github_username %}
          <li>
          	<img src="{{ site.baseurl }}/img/github19.png" width="20" height="20" style="background:white;"/>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

     {% if site.twitter_username %}
          <li>
            <img src="{{ site.baseurl }}/img/twitter39.png" width="20" height="20" style="background:white;"/>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
     {% endif %}
	</div>

	<div class="col-sm-6">
	<h5> {{ site.title }} </h5>
	<p class="text-muted">{{ site.description }}</p>
	</div>

</div>

</footer>
