---
layout: default
---

<div class="container"  style="margin-top: 80px;"> 

    <div class="col-sm-8 col-md-8 col-lg-8 " style="padding-right:20px; border-right: 1px solid #ccc;">

  <header class="post-header" style="padding-bottom:20px;">
	    <h1 class="post-title">{{ page.title }}</h1>
      <wrapper >
      <span class="glyphicon glyphicon-time"></span> 
      <span class="post-meta" >{{ page.date | date: "%b %-d, %Y" }}</span>
      </wrapper>
      <wrapper style="padding-left: 20px">
      <span class="glyphicon glyphicon-comment" style="color:#218886;">
      </span> <a  class="post-link" href="{{ page.url | prepend: site.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}" ></a>
      </wrapper>
  </header>


	{{ content }}
    <div id="disqus_thread"></div>
    <script type="text/javascript">

        var disqus_shortname = 'seffyvonsblog'; 
        var disqus_identifier = '{{ page.id }}';
        var disqus_title = ' {{ page.title }} ';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    


   </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
     <div class="sidebar-module sidebar-module-inset" >
      <img src="{{ site.url }}/img/hst.jpg" class="img-rounded" width="150" height="150" style="margin-bottom:5%" >
      <h3> Blogs </h3>
      <ul class="nav" >
     	 {% for post in site.posts %}
     	 <li> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" style="padding-left:0px;">{{ post.title }}</a> </li>
     	 {% endfor %}  
      </ul>
      </div>
  </div>

</div>

<script type="text/javascript">

var disqus_shortname = 'seffyvonsblog'; 

(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>




